<script
	src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
	(function ($) {
		tinymce.init({
			selector: '#txtFullDes',
			height: 500,
			menubar: false,
			plugins: 'paste image link autolink lists table media',
			toolbar: [
				'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
				'forecolor backcolor',
				'table link image media',
			],
		});
	}(jQuery));
</script>
<div class="right">
	<div class="col-md-10">
		<div class="content">
			<div class="col-md-4 add-dm">
				<h4 class="text-center">Duyệt bài viết</h4>
			</div>
			<div class="clearfix"></div>
			<form method="POST">
				<div class="form">
					<table class="table">
						<tr>
							<td>
								<P>Tiêu đề bài viết</p>
							</td>
							<td><input type="text" name="title" class="form-control" value="{{product.TieuDe}}"></td>
						</tr>
						<tr>
							<td>
								<P>Tóm tắt nội dung</p>
							</td>
							<td> <input type="text" name="summary" class="form-control" value="{{product.TomTat}}"></td>
						</tr>
						<tr>
							<td>
								<P>Nội dung bài viết</p>
							</td>
							<td>
								<div class="card-body">
									<textarea class="form-control" id="txtFullDes"
										name="FullDes">{{product.NoiDung}}</textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<p>Tình trạng bài viết</p>
								<select name="premium" class="form-control">
									{{#if isVip}}
									<option value="1" selected>VIP</option>
									<option value="0">Thường</option>
									{{else}}
									<option value="0" selected>Thường</option>
									<option value="1">VIP</option>
									{{/if}}
								</select>
							</td>
							<td>
								<p>Ảnh bìa</p>
								<div style="width:300px; height:300px"> 
								<img style="width: 100%; height:100%; object-fit: contain"
									src="/{{img.urllinkHinh}}" />
								</div>
							</td>
						</tr>
						<tr>
							{{!-- <div style='display:flex;flex-direction:row;justify-content:space-between;'> --}}
							<td>
								<p>Lựa chọn danh mục </p>
								<select name="cat" class="form-control">
									{{#each cat}}
									{{#if product.IDChuyenMuc}}
									<option value="{{IDChuyenMuc}}" selected>{{TenChuyenMuc}}</option>
									{{else}}
									<option value="{{IDChuyenMuc}}">{{TenChuyenMuc}}</option>
									{{/if}}
									{{/each}}
								</select>
							</td>
							<td>
								<P>Nhãn tag</p>
								<input type="text" name="tag" class="form-control" value="{{tag}}">
							</td>

							{{!-- </div> --}}
						</tr>
			</form>

			</table>
		</div>
		<div class="col-md-3 form-group pull-right" style="display: flex; justify-content: space-around">
			<div>
				<button class="btn btn-primary btn-block">
					<a href="/admin/da_duyet/{{product.IDBaiViet}}" style="color: white">
						<i class="fa fa-check" aria-hidden="true"></i>Duyệt</a></button></div>
			<div>
				<button class="btn btn-primary btn-block">
					<a href="/admin/tu_choi/{{product.IDBaiViet}}" style="color: white">
						<i class="fa fa-times" aria-hidden="true"></i>Từ chối</a></button>
			</div>
		</div>
		</form>
	</div>
	<!--end .content-->
</div>