 <div class="right">
            <div class="col-md-10">
                <div class="content">
                    <div class="col-md-4 add-dm">
                        <h4 class="text-center">Danh sách bài viết</h4>
                    </div>
                    <div class="clearfix"></div>
                    <form method="post">
                        <div class="form">
                            <table class="table">
                                <tr>
                                    <td>
                                        <P>Danh mục</p>
                                    </td>
                                    <td>
                                        <P>Tên bài viết</p>
                                    </td>

                                    <td>
                                        <p>Biên tập viên</p>
                                    </td>
                                    <td>
                                        <p>Trạng thái</p>
                                    </td>
                                </tr>
                                {{#each dshieuchinh}}
                                     <tr>
                                    <td>
                                        <P>{{TenChuyenMuc}}</p>
                                    </td>
                                    <td>{{TieuDe}}</td>

                                    <td>{{HoTen}}</td>
                                    <td><a href="/admin/writer/hieu_chinh/{{IDBaiViet}}">{{Loai}}</a>
                                    </td>
                                </tr>
                                {{/each}}
                            </table>
                        </div>
                    </form>
                </div>
                <!--end .content-->
            </div>
        </div>