<div class="right">
    <div class="col-md-10">
        <div class="content">
            <div class="col-md-4 add-dm">
                <h4 class="text-center">Xem bản thảo</h4>
            </div>
            <div class="clearfix"></div>
            <form method="post">
                <div class="form">
                    <table class="table">
                        <tr>
                            <td>
                                <P>Danh mục</p>
                            </td>
                            <td>
                                <P>Tên bài viết</p>
                            </td>
                            <td>
                                <P>Phóng viên</p>
                            </td>
                            <td>
                                <p>Biên tập viên</p>
                            </td>
                            <td>
                                <p>Trạng thái</p>
                            </td>
                            <td>
                                <p>Hành động</p>
                            </td>
                        </tr>
                        {{#each dsbaivietadmin}}
                        <tr>
                            <td>
                                <P>{{product.TenChuyenMuc}}</p>
                            </td>
                            <td>{{product.TieuDe}}</td>
                            <td>{{product.PhongVien}}</td>
                            <td>{{product.BienTapVien}}</td>
                            <td>{{product.Loai}}</td>
                            <td><a href="#">Sửa</a>
                                <a href="#">Xóa</a>
                                {{#if isApprove}}
                                <a href="/admin/xuat_ban/{{product.IDBaiViet}}">Xuất bản</a>
                            {{else}}
                            <small></small>
                            {{/if}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                <div class="col-md-3 form-group pull-right">
                    <input type="submit" name="ok" value="Lưu" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
        <!--end .content-->
    </div>
</div>