<!-- ##### Hero Area Start ##### -->
<div class="hero-area owl-carousel">
    {{#each carousel}}

    <!-- Single Blog Post -->
    <div class="hero-blog-post bg-img bg-overlay" style="background-image: url(/{{img.urllinkHinh}});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Post Contetnt -->
                    <div class="post-content text-center">
                        <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                            <a href="/products/{{product.IDBaiViet}}">Lượt xem: {{product.LuotXem}}</a>
                            <a href="/products/productByCategory/{{product.ChuyenMuc}}">{{cat.TenChuyenMuc}}</a>
                        </div>
                        <a href="/products/{{product.IDBaiViet}}" class="post-title" data-animation="fadeInUp"
                            data-delay="300ms">{{product.TieuDe}}</a>
                        <div class="post-meta" data-animation="fadeInUp" data-delay="100ms">
                            <a href="/products/{{product.IDBaiViet}}">{{product.NgayDang}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
<!-- ##### Hero Area End ##### -->
<!-- ##### Mag Posts Area Start ##### -->
<section class="mag-posts-area d-flex flex-wrap">

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="post-sidebar-area left-sidebar mt-30 mb-30 bg-white box-shadow">
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Thịnh hành</h5>
            </div>
            {{#each top10}}
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="/{{img.urllinkHinh}}" alt="">
                </div>
                <div class="post-content">
                    <a href="/products/{{product.IDBaiViet}}" class="post-title">{{product.TieuDe}}</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-eye" aria-hidden="true"></i>
                            {{product.LuotXem}}</a>
                        <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-comments-o" aria-hidden="true"></i>
                            {{countCmt.total}}</a>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>


        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>MỚI NHẤT</h5>
            </div>
            {{#each newest10}}
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="/{{img.urllinkHinh}}" alt="">
                </div>
                <div class="post-content">
                    <a href="/products/{{product.IDBaiViet}}" class="post-title">{{product.TieuDe}}</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-eye" aria-hidden="true"></i>
                            {{product.LuotXem}}</a>

                        <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-comments-o" aria-hidden="true"></i>
                            {{countCmt.total}}</a>
                    </div>
                </div>
            </div>
            {{/each}}

        </div>
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        <!-- Trending Now Posts Area -->
        <div class="trending-now-posts mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Xu hướng</h5>
            </div>

            <div class="trending-post-slides owl-carousel">
                <!-- Single Trending Post -->
                {{#each top10}}
                <div class="single-trending-post">
                    <img src="/{{img.urllinkHinh}}" alt="">
                    <div class="post-content">
                        <a href="/products/productByCategory/{{product.ChuyenMuc}}"
                            class="post-cata">{{cat.TenChuyenMuc}}</a>
                        <a href="/products/{{product.IDBaiViet}}" class="post-title">{{product.TieuDe}}</a>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>

        <!-- Feature Video Posts Area -->
        <div class="feature-video-posts mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>NỔI BẬT</h5>
            </div>

            <div class="featured-video-posts">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <!-- Single Featured Post -->
                        <div class="single-featured-post">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <img src="/{{RefTenTop.img.urllinkHinh}}" alt="">

                            </div>
                            <!-- Post Contetnt -->
                            <div class="post-content">
                                <div class="post-meta">
                                    <a
                                        href="/products/{{RefTenTop.product.IDBaiViet}}">{{RefTenTop.product.NgayDang}}</a>
                                    <a
                                        href="/products/productByCategory/{{RefTenTop.cat.IDChuyenMuc}}">{{RefTenTop.cat.TenChuyenMuc}}</a>
                                </div>
                                <a href="/products/{{RefTenTop.product.IDBaiViet}}"
                                    class="post-title">{{RefTenTop.product.TieuDe}}</a>
                                <p>{{RefTenTop.product.TomTat}}</p>
                            </div>
                            <!-- Post Share Area -->
                            <div class="post-share-area d-flex align-items-center justify-content-between">
                                <!-- Post Meta -->
                                <div class="post-meta pl-3">
                                    <a href="/products/{{RefTenTop.product.IDBaiViet}}"><i class="fa fa-eye"
                                            aria-hidden="true"></i> {{RefTenTop.product.LuotXem}}</a>
                                    <a href="/products/{{RefTenTop.product.IDBaiViet}}"><i class="fa fa-comments-o"
                                            aria-hidden="true"></i> {{RefTenTop.countCmt.total}}</a>
                                </div>
                                <!-- Share Info -->
                                <div class="share-info">
                                    <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                                    <!-- All Share Buttons -->
                                    <div class="all-share-btn d-flex">
                                        <a href="#" class="facebook"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                                        <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" class="google-plus"><i class="fa fa-google-plus"
                                                aria-hidden="true"></i></a>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <!-- Featured Video Posts Slide -->
                        <div class="featured-video-posts-slide owl-carousel">

                            <div class="single--slide">
                                {{#each TenTopEachChuyenMuc1}}
                                <!-- Single Blog Post -->
                                <div class="single-blog-post d-flex style-3">

                                    <div class="post-thumbnail">
                                        <img src="/{{img.urllinkHinh}}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="/products/{{product.IDBaiViet}}">{{product.NgayDang}}</a>
                                        <a href="/products/{{product.IDBaiViet}}"
                                            class="post-title">{{product.TieuDe}}</a>
                                        <div class="post-meta d-flex">
                                            <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-eye"
                                                    aria-hidden="true"></i> {{product.LuotXem}}</a>

                                            <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-comments-o"
                                                    aria-hidden="true"></i> {{countCmt.total}}</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>

                            <div class="single--slide">
                                {{#each TenTopEachChuyenMuc2}}
                                <!-- Single Blog Post -->
                                <div class="single-blog-post d-flex style-3">
                                    <div class="post-thumbnail">
                                        <img src="/{{img.urllinkHinh}}" alt="">
                                    </div>
                                    <div class="post-content">
                                        <a href="/products/{{product.IDBaiViet}}">{{product.NgayDang}}</a>
                                        <a href="/products/{{product.IDBaiViet}}"
                                            class="post-title">{{product.TieuDe}}</a>
                                        <div class="post-meta d-flex">
                                            <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-eye"
                                                    aria-hidden="true"></i> {{product.LuotXem}}</a>

                                            <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-comments-o"
                                                    aria-hidden="true"></i> {{countCmt.total}}</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Most Viewed Videos -->
        <div class="most-viewed-videos mb-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>ĐƯỢC XEM NHIỀU</h5>
            </div>

            <div class="most-viewed-videos-slide owl-carousel">
                <!-- Single Blog Post -->
                {{#each top10}}
                <div class="single-blog-post style-4">
                    <div class="post-thumbnail">
                        <a href="/products/{{product.IDBaiViet}}"> <img src="/{{img.urllinkHinh}}" alt=""></a>
                    </div>
                    <div class="post-content">
                        <a href="/products/{{product.IDBaiViet}}">{{product.NgayDang}}</a>
                        <a href="/products/{{product.IDBaiViet}}" class="post-title">{{product.TieuDe}}</a>
                        <div class="post-meta d-flex">
                            <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-eye" aria-hidden="true"></i>
                                {{product.LuotXem}}</a>
                            <a href="/products/{{product.IDBaiViet}}"><i class="fa fa-comments-o"
                                    aria-hidden="true"></i> {{countCmt.total}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Sports Videos -->
        {{!-- <div class="sports-videos-area">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>DU LỊCH</h5>
            </div>

            <div class="sports-videos-slides owl-carousel mb-30">
                <!-- Single Featured Post -->
                <div class="single-featured-post">
                    <!-- Thumbnail -->
                    <div class="post-thumbnail mb-50">

                        <a href="dienanhdetail.html"> <img src="../img/bg-img/vh/dl1.jpg" alt=""></a>
                    </div>
                    <!-- Post Contetnt -->
                    <div class="post-content">
                        <div class="post-meta">
                            <a href="#">Tháng Năm có gì ?</a>
                            <a href="dulich.html">Du lịch</a>
                        </div>
                        <a href="dienanhdetail.html" class="post-title">Những điểm đến không thể bỏ qua ở Phú Thọ dịp
                            giỗ Tổ Hùng Vương </a>
                        <p>Đến Phú Thọ dịp Giỗ Tổ Hùng Vương, khách du lịch cũng có thể khám phá những địa danh nổi
                            tiếng khác như đền Quốc Mẫu Âu Cơ, vườn Quốc gia Xuân Sơn, hang Lạng hay Ao Giời - Suối
                            Tiên...</p>
                    </div>
                    <!-- Post Share Area -->
                    <div class="post-share-area d-flex align-items-center justify-content-between">
                        <!-- Post Meta -->
                        <div class="post-meta pl-3">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                        </div>
                        <!-- Share Info -->
                        <div class="share-info">
                            <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            <!-- All Share Buttons -->
                            <div class="all-share-btn d-flex">
                                <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Post -->
                <div class="single-featured-post">
                    <!-- Thumbnail -->
                    <div class="post-thumbnail mb-50">
                        <a href="dienanhdetail.html"><img src="../img/bg-img/vh/dl.jpg" alt=""></a>
                    </div>
                    <!-- Post Contetnt -->
                    <div class="post-content">
                        <div class="post-meta">
                            <a href="#">Tháng Năm có gì ?</a>
                            <a href="dulich.html">Du lịch</a>
                        </div>
                        <a href="dienanhdetail.html" class="post-title">Nhếch nhác tại festival văn hóa ở Hoàng thành
                            Thăng Long</a>
                        <p>Nhiều khách đến với Festival văn hóa truyền thống VN 2019 và giao lưu văn hóa quốc tế tổ
                            chức tại Hoàng thành Thăng Long, Hà Nội (diễn ra từ ngày 5 - 9.4) đã tỏ ra rất thất
                            vọng.</p>
                    </div>
                    <!-- Post Share Area -->
                    <div class="post-share-area d-flex align-items-center justify-content-between">
                        <!-- Post Meta -->
                        <div class="post-meta pl-3">
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                        </div>
                        <!-- Share Info -->
                        <div class="share-info">
                            <a href="#" class="sharebtn"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            <!-- All Share Buttons -->
                            <div class="all-share-btn d-flex">
                                <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-post d-flex style-3 mb-30">
                        <div class="post-thumbnail">
                            <img src="../img/bg-img/vh/dl.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <a href="dienanhdetail.html" class="post-title">Nhếch nhác tại festival văn hóa ở Hoàng
                                thành
                                Thăng Long</a>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Blog Post -->
                <div class="col-12 col-lg-6">
                    <div class="single-blog-post d-flex style-3 mb-30">
                        <div class="post-thumbnail">
                            <img src="../img/bg-img/vh/dl1.jpg" alt="">
                        </div>
                        <div class="post-content">
                            <a href="dienanhdetail.html" class="post-title">Những điểm đến không thể bỏ qua ở Phú Thọ
                                dịp
                                giỗ Tổ Hùng Vương</a>
                            <div class="post-meta d-flex">
                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> --}}
    </div>

    <!-- >>>>>>>>>>>>>>>>>>>>
         Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
    <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Social Followers Info -->
            <div class="social-followers-info">
                <!-- Facebook -->
                <a href="https://www.facebook.com/" class="facebook-fans"><i class="fa fa-facebook"></i> 4,360 <span>
                        Lượt Like</span></a>
                <!-- Twitter -->
                <a href="https://twitter.com/?lang=vi" class="twitter-followers"><i class="fa fa-twitter"></i> 3,280
                    <span>Follower</span></a>
                <!-- YouTube -->
                <a href="https://www.youtube.com/" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1250
                    <span>Đã đăng ký</span></a>
            </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Danh mục</h5>
            </div>

            <!-- Catagory Widget -->
            <ul class="catagory-widgets">
                {{#each categoryFull}}
                <li><a href="/products/productByParentCategory/{{parentCategory.IDChuyenMuc}}"><span><i
                                class="fa fa-angle-double-right" aria-hidden="true"></i>
                            {{parentCategory.TenChuyenMuc}}</span>
                    </a></li>
                {{#each childCategory}}
                <li><a href="/products/productByCategory/{{IDChuyenMuc}}"><span><i class="fa fa-angle-double-right"
                                aria-hidden="true"></i>
                            {{TenChuyenMuc}}</span>
                    </a></li>
                {{/each}}
                {{/each}}

            </ul>
        </div>

         <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Các nhãn</h5>
            </div>

            <!-- Tag Widget -->
            <ul class="catagory-widgets">
                {{#each Tag}}
                <li><a href="/tag/{{IDTag}}"><span><i
                                class="fa fa-angle-double-right" aria-hidden="true"></i>
                            #{{TenTag}}</span>
                    </a></li>
                {{/each}}

            </ul>
        </div>
    </div>
</section>
<!-- ##### Mag Posts Area End ##### -->