 <!-- ##### Archive Post Area Start ##### -->
 <div class="archive-post-area">
     <div class="container">
         <div class="row justify-content-center">
             <div class="col-12 col-xl-15">
                 <div class="archive-posts-area bg-white p-30 mb-30 box-shadow">


                     {{#each products}}
                     <!-- Single Catagory Post -->
                     <div class="single-catagory-post d-flex flex-wrap">
                         <!-- Thumbnail -->
                         <div class="post-thumbnail bg-img">
                             <a href="/products/{{IDBaiViet}}" target="_blank"><img src="/img/bg-img/ds/xh.jpg"></i></a>
                         </div>

                         <!-- Post Contetnt -->
                         <div class="post-content">
                             <div class="post-meta">
                                 <p>{{NgayDang}}</p>
                             </div>
                             <a href="/products/{{IDBaiViet}}" target="_blank" class="post-title">{{TieuDe_KhongDau}}</a>
                             <!-- Post Meta -->
                             <p>{{TomTat}} </p>
                         </div>
                     </div>
                    {{/each}}

                     <!-- Pagination -->
                     <nav>
                         <ul class="pagination">
                             <li class="page-item active"><a class="page-link" href="#">1</a></li>
                             <li class="page-item"><a class="page-link" href="#">2</a></li>
                             <li class="page-item"><a class="page-link" href="#">3</a></li>
                             <li class="page-item"><a class="page-link" href="#"><i class="ti-angle-right"></i></a></li>
                         </ul>
                     </nav>

                 </div>
             </div>
         </div>
     </div>
 </div>