<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(/{{img.urllinkHinh}});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2>{{category.TenChuyenMuc}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="mag-breadcrumb py-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Trang
                                chủ</a></li>
                        <li class="breadcrumb-item"><a href="/productByCategory/{{category.ChuyenMucCha}}"></i>Giải
                                trí</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                href="/productByCategory/{{category.IDChuyenMuc}}">{{category.TenChuyenMuc}}</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<div class="archive-post-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-15">
                <div class="archive-posts-area bg-white p-30 mb-30 box-shadow ">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10 container">
                        <h1 style="color:#1ac4c4">{{product.TieuDe}}</h1>
                        <p>{{product.NgayDang}}</p>
                        <h4 style="background-color: #EEEEEE">{{product.TomTat}}</h4>

                        <p>{{{product.NoiDung}}}</p>
                        <p>Phóng viên: {{product.HoTen}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Comment Area Start -->
        <div class="comment_area clearfix bg-white mb-30 p-30 box-shadow">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Bình luận</h5>
            </div>

            <ol>
                {{#each comment}}
                <!-- Single Comment Area -->
                <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content d-flex">
                        <!-- Comment Author -->
                        <div class="comment-author">
                            <img src="/img/product_img/totoro.jpg" alt="author">
                        </div>
                        <!-- Comment Meta -->
                        <div class="comment-meta">
                            <h6>{{HoTen}}</h6>
                            <p>{{NoiDung}}</p>
                        </div>
                    </div>
                </li>
                 {{/each}}
            </ol>
        </div>

        <!-- Post A Comment Area -->
        <div class="post-a-comment-area bg-white mb-30 p-30 box-shadow clearfix">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>bình luận của bạn</h5>
            </div>

            <!-- Reply Form -->
            <div class="contact-form-area">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <input type="text" class="form-control" id="name" placeholder="Tên bạn*" required>
                        </div>
                        <div class="col-12 col-lg-6">
                            <input type="email" class="form-control" id="email" placeholder="Email*" required>
                        </div>
                        <div class="col-12">
                            <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                placeholder="Bình luận*" required></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn mag-btn mt-30" type="submit">Bình luận</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>